---
import "../styles/global.css";
import Content from "./content.astro";
import Map from "./map.astro";
import type { CollectionEntry } from "astro:content";
import Sidebar from "./sidebar.astro";

interface Props {
    entry?: CollectionEntry<"wiki">;
}

const { entry } = Astro.props;
---
<!doctype html>
<html lang="en">
    <head>
		<title>Duncan's World</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <Map initialEntry={entry} />
        <!-- <Sidebar initialEntry={entry} /> -->
    </body>
</html>
