---
import type { CollectionEntry } from "astro:content";
import Content from "./content.astro";

interface Props {
    initialEntry?: CollectionEntry<"wiki">;
}

const { initialEntry } = Astro.props;
---

<div data-content-slot={initialEntry?.id ?? ""}>
    {initialEntry && <Content entry={initialEntry} />}
</div>
<script>
    document.addEventListener("keypress", async (e) => {
        if (e.key !== "R") {
            return;
        }

        const slot = document.querySelector(
            "[data-content-slot]",
        ) as HTMLElement;

        if (!slot) {
            console.log("no slot?");
            return;
        }

        const options = ["daybreak", "colophon", "about"].filter(
            (str) => str != slot.dataset.contentSlot,
        );
        const nextSlot = options[Math.floor(Math.random() * options.length)];
        slot.dataset.contentSlot = nextSlot;
        const result = await fetch("/partial/" + nextSlot);
        slot.innerHTML = await result.text();
    });
</script>
